<div class = "row">
	<div class = "col-md-4">
		<img src = <%= @film.film_img(:film_show)%> >
	</div>
	<div class = "col-md-8">
		<h1><%= @film.title %></h2>
		<h6>Average rating</h6>
		<div class = "average-review-rating" data-score = <%= @average_review %>></div>
		<span>Based on <%= @film.reviews.count %> reviews </span>
		<h4>Genre: <i><%= @film.genres.pluck(:name).join(", ") %></i></h6>
		<h2>Directed by <%= @film.director %></h3>
		<h3><%= @film.description %></h4>
	</div>
</div>

<div class = "row">
	<div class = "col-md-4">
		
		<%= render @film.reviews %>
		<div>
			<%= link_to "Add review", new_film_review_path(@film) %>
		</div>
	</div>
</div>



<% if user_signed_in? %>
	<% if @film.user_id == current_user.id %>
		<%= link_to "Edit", edit_film_path(@film) %>
		<%= link_to "Delete", film_path(@film), method: :delete, data: { confirm: "Are you sure you want to delete that film?"} %>
	<% end %>
<% end %>

<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function(){
			return $(this).attr('data-score');
		},
		path: '/assets/'
	})
</script>

<%= link_to "Back", root_path %>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function(){
			return $(this).attr('data-score')
		}
	});
</script>